@-webkit-keyframes modalError {
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px) translateY(-50%);
            transform: translateX(-10px) translateY(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px) translateY(-50%);
            transform: translateX(10px) translateY(-50%);
  }

  0%, 100% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
  }
}

@keyframes modalError {
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px) translateY(-50%);
            transform: translateX(-10px) translateY(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px) translateY(-50%);
            transform: translateX(10px) translateY(-50%);
  }

  0%, 100% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) scale(1.4);
            transform: translateY(-2000px) scale(1.4);
    opacity: 0;
  }

  70% {
    -webkit-transform: translateY(-30%) scale(1);
            transform: translateY(-30%) scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }

  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) scale(1.4);
            transform: translateY(-2000px) scale(1.4);
    opacity: 0;
  }

  70% {
    -webkit-transform: translateY(-30%) scale(1);
            transform: translateY(-30%) scale(1);
    opacity: 1;
  }

  90% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }

  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/* __________________________общие классы_____________________________ */
body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: 'Cuprum', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
/*___________________________________________________________*/

.main-header {
  min-width: 960px;
  padding-bottom: 60px;

  background-image: linear-gradient(to bottom, #293449, #293449 42px, #f3f7f9 42px);
}

.header-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 42px;
}

.header-block1__main-link {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 220px;

  font-size: 24px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  background-color: #ee3643;
}

.header-block1__main-link::after {
  position: absolute;
  bottom: -5px;

  display: block;
  width: 100%;
  height: 5px;
  content: '';

  background-color: #b52933;
}

.header-block1__main-link:hover:not(.header-block1__main-link--nothover),
.header-block1__main-link:focus:not(.header-block1__main-link--nothover) {
  background-color: #ca2c37;
}

.header-block1__main-link:active:not(.header-block1__main-link--nothover) {
  background-color: #ba2732;
}

.header-block1__main-link:hover:not(.header-block1__main-link--nothover)::after,
.header-block1__main-link:focus:not(.header-block1__main-link--nothover)::after {
  background-color: #9a212a;
}

.header-block1__main-link:active:not(.header-block1__main-link--nothover)::after {
  background-color: #8e1e26;
}

.header-block1__search {
  position: relative;

  background-color: #293449;
}

.header-block1__search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  min-height: 42px;
  padding: 0 10px 0 48px;

  font-size: 17px;
  line-height: 18px;
  color: #fff;

  background-color: #293449;
  border: none;
}

.header-block1__search-input::-webkit-input-placeholder {
  color: #fff;
}

.header-block1__search-input:-ms-input-placeholder {
  color: #fff;
}

.header-block1__search-input::-ms-input-placeholder {
  color: #fff;
}

.header-block1__search-input::placeholder {
  color: #fff;
}

.header-block1__search-input:hover {
  background-color: #212a3a;
}

.header-block1__search-input:focus {
  color: #000;

  background-color: #fff;
}

.header-block1__search-btn {
  position: absolute;
  top: 0;
  left: 0;

  width: 48px;
  height: 100%;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.header-block1__search-icon {
  position: relative;
  top: 1px;
  left: 2px;

  opacity: 0.3;
}

.header-block1__search-btn:hover .header-block1__search-icon,
.header-block1__search-btn:focus .header-block1__search-icon {
  opacity: 1;
}

.header-block1__search-input:focus + .header-block1__search-btn .header-block1__search-icon {
  fill: #ee3643;
  opacity: 1;
}

.header-block1__button {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 150px;
  padding-left: 42px;

  font-size: 17px;
  line-height: 42px;
  text-decoration: none;
  color: #fff;
}

.header-block1__button:hover,
.header-block1__button:focus {
  background-color: #212a3a;
}

.header-block1__button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-block1__button--markers {
  padding-left: 44px;
}

.header-block1__button--cart {
  padding-left: 50px;
}

.header-block1__button--cart-full {
  background-color: #ee3643;
}

.header-block1__button--cart-full:hover,
.header-block1__button--cart-full:focus {
  background-color: #ca2c37;
}

.header-block1__button--cart-full:active {
  background-color: #ba2732;
}

.header-block1__button--markers::after,
.header-block1__button--cart::after {
  position: absolute;
  top: 12px;
  left: 18px;

  display: block;
  width: 14px;
  height: 16px;
  content: '';

  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-block1__button--markers::after {
  background-image: url(../img/icons/icon-bookmark.svg);
}

.header-block1__button--cart::after {
  background-image: url(../img/icons/icon-cart.svg);
}

.header-block1__button--order {
  padding: 0;

  text-align: center;

  background-color: #63a63e;
}

.header-block1__button--order:hover,
.header-block1__button--order:focus {
  background-color: #5fbb2d;
}

.header-block1__button:hover::after,
.header-block1__button:focus {
  opacity: 1;
}

.header-block1__button:active::after {
  opacity: 0.5;
}

.header-block1__button--order:active {
  background-color: #518534;
}

.header-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 29px;
}

.header-block2__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;

  font-style: normal;
}

.header-block2__head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  margin-top: 4px;
  margin-left: 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  letter-spacing: -0.4px;
}

.header-block2__tel {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding: 10px 0 8px 70px;
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #ee3643;

  border: 3px solid #fff;
}

.header-block2__tel::after {
  position: absolute;
  top: 11px;
  left: 11px;

  display: block;
  width: 19px;
  height: 19px;
  content: '';

  background: url(../img/icons/icon-phone.svg) no-repeat center;
}

.header-block2__addres {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin: 5px 0 0 9px;

  color: #32425c;
}

.log-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
}


.log-block__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.log-block__logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.log-block__login-btn,
.log-block__reg-btn,
.log-block__user-btn {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 25px;

  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000;

  background-color: #fff;
}

.log-block--animated:hover,
.log-block--animated:focus {
  color: #ee3643;
}

.log-block--animated:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-block__login-btn {
  position: relative;

  margin-right: 10px;
  padding-left: 47px;
}

.log-block__reg-btn {
  width: 150px;
  padding: 13px 0;

  text-align: center;
}

.log-block__login-icon {
  position: absolute;
  top: 14px;
  left: 15px;
}

.log-block__login-btn:hover .log-block__login-icon,
.log-block__login-btn:focus .log-block__login-icon {
  fill: #32425c;
}

.log-block__login-btn:active .log-block__login-icon {
  fill: #c5c5c5;
}

.log-block__user-btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 47px;
}

.log-block__user-wrapper {
  position: relative;

  width: 300px;
}

.log-block__user-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.log-block__logout-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding: 0 10px;
}

.log-block__logout-icon {
  margin-top: 15px;
}

.log-block__logout-link:hover .log-block__logout-icon,
.log-block__logout-link:focus .log-block__logout-icon,
.log-block__user-btn:hover .log-block__user-icon,
.log-block__user-btn:focus .log-block__user-icon {
  fill: #32425c;
}

.log-block__logout-link:active .log-block__logout-icon,
.log-block__user-btn:active .log-block__user-icon {
  fill: #c5c5c5;
}

.log-block__user-links {
  position: relative;

  margin: 3px 17px 0;

  font-size: 16px;
  color: #32425c;
}

.log-block__user-links:first-of-type::after {
  position: absolute;
  top: 10px;
  right: -19px;

  display: block;
  content: '';
  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-navigation__li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-navigation__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 18px;

  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  text-align: center;
  color: #fff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation__li:first-child .main-navigation__link {
  padding-left: 20px;
}

.main-navigation__li:last-child .main-navigation__link {
  padding-right: 20px;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  background-color: #293449;
}

.main-navigation__link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
  border-bottom-color: #1d2739;
}

.main__best {
  margin-bottom: 53px;
  margin-top: 59px;
}

.main__popular-items {
  margin-bottom: 2px;
}

.main__popular-brands {
  margin-bottom: 65px;
}

.best-deals-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas: 'a b c'
                       'f f d'
                       'f f e';
  grid-gap: 20px;
}

.best-deals-grid__a {
  grid-area: a;
}

.best-deals-grid__b {
  grid-area: b;
}

.best-deals-grid__c {
  grid-area: c;
}

.best-deals-grid__d {
  grid-area: d;
}

.best-deals-grid__e {
  grid-area: e;
}

.best-deals-grid__f {
  grid-area: f;
}

.best-deals__block {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 123px;
  padding: 20px 23px;
}

.best-deals__block--materials {
  background-color: #ffbf47;
}

.best-deals__block--instr {
  background-color: #3bbce3;
}

.best-deals__block--tech {
  background-color: #dc91d8;
}

.best-deals__block--sale {
  background-color: #8ed78f;
}

.best-deals__block--delivery {
  background-color: #ffc047;
}

.best-deals__descr {
  width: 190px;
  margin: 0 0 13px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.best-deals__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  margin: 0;
  padding: 10px 0;

  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.best-deals__link:hover,
.best-deals__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.best-deals__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.best-deals__block::after {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  content: '';
  width: 140px;
  height: 123px;

  background-position: center;
  background-repeat: no-repeat;
}

.best-deals__block--materials::after {
  background-image: url(../img/icons/icon-1.svg);
}

.best-deals__block--instr::after {
  background-image: url(../img/icons/icon-2.svg);
}

.best-deals__block--tech::after {
  background-image: url(../img/icons/icon-3.svg);
}

.best-deals__block--sale::after {
  background-image: url(../img/icons/icon-4.svg);
}

.best-deals__block--delivery::after {
  background-image: url(../img/icons/icon-5.svg);
}

.best-deals__block--new::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: block;
  width: 60px;
  height: 59px;
  content: '';

  background: url(../img/new.png) no-repeat;
}

.slider {
  position: relative;
}

.slider__slide {
  position: relative;

  height: 266px;
  overflow: hidden;
}

.slider__slide:nth-child(1) {
  background-color: #917f6e;
}

.slider__slide:nth-child(2) {
  background-color: #684c3e;
}

.slider__text-block {
  position: absolute;
  top: 23px;
  left: 24px;
}

.slider__headline {
  margin: 0 0 2px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.slider__descr {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slider__link {
  position: absolute;
  bottom: 22px;
  left: 25px;

  width: 195px;
}

.slider__btn,
.slider__paginator {
  position: absolute;

  background-color: transparent;
  border: none;
}

.slider__btn {
  top: 115px;

  cursor: pointer;
}

.slider__btn:hover svg,
.slider__btn:focus svg {
  fill: rgba(255, 255, 255, 0.5);
}

.slider__btn--prev {
  left: 20px;
}

.slider__btn--next {
  right: 20px;
}

.slider__paginator {
  bottom: 36px;

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
  margin: 0 0 0 50%;
  padding: 0;

  line-height: 0;
  list-style: none;
}

.slider__paginator-li {
  display: inline-block;
  margin-left: 7px;
}

.slider__paginator-li:first-child {
  margin-left: 0;
}

.slider__paginator-button {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;

  background-color: #fff;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.slider__paginator-button::after {
  position: absolute;
  top: 2px;
  left: 2px;

  display: block;
  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider__paginator-button--current::after {
  content: '';
}

.slider__paginator-button:hover:not(.slider__paginator-button--current)::after,
.slider__paginator-button:focus:not(.slider__paginator-button--current)::after {
  content: '';
  opacity: 0.3;
}

.popular-items__head {
  margin: 0 0 20px;
}

.popular-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 24px 23px;

  background-color: #f9f5f0;
}

.popular-head__headline {
  margin: 6px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.main-btn {
  margin: 0;
  padding: 12px 0;

  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  background-color: #ee3643;
  border-radius: 3px;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #ca2c37;
}

.main-btn:active {
  background-color: #ba2732;
}

.main-btn--popular {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 253px;
}

.popular-items__list {
  margin: 0 0 32px;
}

.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;

  list-style: none;
}

.items-list__li {
  position: relative;

  width: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 0 20px;
  overflow: hidden;

  font-family: 'PT Sans', 'Helvetica', sans-serif;
  font-weight: 700;

  border: 1px solid #eaeaea;
}

.items-list__li--new::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: block;
  width: 60px;
  height: 59px;
  content: '';

  background: url(../img/new.png) no-repeat;
}

.items-list__img {
  display: block;
  width: auto;
}

.items-list__name {
  width: 200px;
  margin: 10px auto 76px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.items-list__price {
  position: absolute;
  bottom: 3px;
  left: 3px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 140px;
  padding: 10px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 50%;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #fff;

  background-color: #ee3643;
  border-radius: 3px;
}

.items-list__price::after,
.items-list__price::before {
  position: absolute;
  right: -14px;

  display: block;
  width: 27px;
  height: 27px;
  content: '';

  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.items-list__price::after {
  top: -14px;
}

.items-list__price::before {
  bottom: -14px;
}

.items-list__old-price {
  position: absolute;
  top: -28px;

  display: block;
  width: inherit;

  text-decoration: line-through;
  color: #a9a9a9;
}

.items-list__links {
  position: absolute;
  top: 20px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;

  background-color: #fff;
}

.items-list__link {
  display: block;
  width: 135px;
  margin: 0 auto;

  line-height: 35px;
  font-weight: 400;
  font-family: 'Cuprum', 'Helvetica', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
}

.items-list__link--buy {
  position: relative;

  margin-bottom: 7px;

  color: #fff;

  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367315;
          box-shadow: 0 3px 0 0 #367315;
}

.items-list__link--buy:hover,
.items-list__link--buy:focus {
  background-color: #5fbb2d;
}

.items-list__link--buy:active {
  background-color: #518534;
  -webkit-box-shadow: 0 3px 0 0 #518534;
          box-shadow: 0 3px 0 0 #518534;
}

.items-list__link--buy:hover::after,
.items-list__link--buy:focus::after,
.items-list__link--buy:active::after {
  opacity: 1;
}

.items-list__link--buy::after {
  position: absolute;
  top: 10px;
  left: 15px;

  display: block;
  width: 15px;
  height: 15px;
  content: '';

  background-image: url(../img/icons/icon-cart.svg);
  opacity: 0.3;
}

.items-list__link--mark {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;

  color: #32425c;

  border: 3px solid #63a63e;
}

.items-list__link--mark:hover,
.items-list__link--mark:focus {
  border-color: #32425c;
}

.items-list__link--mark:active {
  opacity: 0.3;
}

.items-list__li:hover,
.items-list__li:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.items-list__li:hover .items-list__links,
.items-list__li:focus .items-list__links,
.items-list__li:focus-within .items-list__links {
  width: inherit;
  height: 160px;
  margin: 0;
  padding-top: 25px;
}

.popular-brands__head {
  margin: 0 0 20px;
}

.popular-brands__list {
  margin: 0 0 32px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-list__li {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

.brands-list__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 220px;  
  height: 100%;

  border: 1px solid #e7e7e7;
}

.brands-list__img {
  display: block;
  margin: 70px auto;

  -webkit-transform: translateY(-50%);

          transform: translateY(-50%);
}

.brands-list__link:hover,
.brands-list__link:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list__link:active {
  border-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-list__link:active .brands-list__img {
  opacity: 0.3;
}

.services {
  min-width: 960px;
  padding: 64px 0 2px;

  background-color: #f4f8fa;
}

.services__wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.services__headline {
  margin: 0 0 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__descr {
  width: 400px;
  margin: 0 0 20px;

  font-size: 13px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

.vertical-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical-slides__nav {
  position: relative;

  -ms-flex-item-align: start;

      align-self: flex-start;
  width: 240px;
  padding: 50px 0;
}

.vertical-slides__nav::after {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  content: '';
  width: 10px;
  height: 100%;

  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top right;
}

.vertical-slides__btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0 0 22px;

  font-size: 21px;
  line-height: 59px;
  font-weight: 700;
  text-align: left;
  color: #fff;

  background-color: #32425c;
  border: none;
  border-top: 1px solid #4d637b;

  cursor: pointer;
}

.vertical-slides__btn--active {
  color: #32425c;

  background-color: #fff;
  border-color: #fff;
}

.vertical-slides__btn:not(.vertical-slides__btn--active):hover {
  background-color: #293449;
}

.vertical-slides__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  padding: 47px 0 0;
}

.vertical-slides__headline {
  margin: 0 0 25px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.vertical-slides__descr {
  width: 380px;

  font-size: 13px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

.vertical-slides__slide {
  position: relative;

  width: 100%;
  min-height: 284px;

  background-repeat: no-repeat;
  background-position: 100% 110%;
}

.vertical-slides__slide:nth-child(1) {
  background-image: url(../img/service-1-min.png);
}

.vertical-slides__slide:nth-child(2) {
  background-image: url(../img/service-2-min.png);
}

.vertical-slides__slide:nth-child(3) {
  background-image: url(../img/service-3-min.png);
}

.main-btn--vertical-slides {
  display: inline-block;
  width: 195px;
  margin-top: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 79px 10px 87px;
}

.info__about {
  width: 540px;
}

.about-us__headline {
  margin: 0 0 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-us__descr {
  margin: 0 0 24px;

  font-size: 13px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

.about-us__descr:nth-of-type(2) {
  margin-bottom: 19px;
}

.about-us__transport-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 0 33px;
  padding: 0;

  list-style: none;
}

.about-us__transport-li {
  margin-bottom: 16px;
}

.about-us__transport-li:last-child {
  margin-bottom: 0;
}

.about-us__list-link {
  position: relative;

  padding-left: 35px;

  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
}

.about-us__list-link::after {
  position: absolute;
  top: 10px;
  left: 0;

  display: block;
  width: 25px;
  height: 2px;
  content: '';

  background-color: #ee3643;
}
.about-us__list-link:hover,
.about-us__list-link:focus {
  color: rgba(0, 0, 0, 0.5);
}

.about-us__list-link:active {
  color: rgba(0, 0, 0, 0.2);
}

.main-btn--about-us {
  display: inline-block;
  width: 220px;
}

.info__contacts {
  position: relative;

  width: 300px;
}

.contacts__headline {
  margin: 0 0 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__descr {
  margin: 0 0 24px;

  font-size: 13px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

.contacts__map {
  margin-bottom: 50px;
}

.map {
  position: relative;
}

.map__link {
  position: relative;

  display: block;

  line-height: 0;

  background-color: #efe7dd;
}

.map__link:hover::after,
.map__link:focus::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  content: '';

  background-color: rgba(0, 0, 0, 0.1);
}

.contacts__btn {
  position: absolute;
  bottom: 0;
}

.main-btn--info-contact {
  width: 300px;
}

.main-footer {
  min-width: 960px;
}

.main-footer__block1 {
  background-color: #32425c;
}

.main-footer__block2 {
  background-color: #293449;
}

.main-footer__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 193px;
  padding-bottom: 10px;
}

.main-footer__sub-block,
.main-footer__social-block1 {
  width: 380px;
}

.main-footer__main-link {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  margin-bottom: 34px;
  padding: 16px 0;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  background-color: #ee3643;
}

.main-footer__main-link::after {
  position: absolute;
  bottom: -5px;

  display: block;
  width: 100%;
  height: 5px;
  content: '';

  background-color: #b52933;
}

.main-footer__main-link:hover:not(.main-footer__main-link--nothover),
.main-footer__main-link:focus:not(.main-footer__main-link--nothover) {
  background-color: #ca2c37;
}

.main-footer__main-link:active:not(.main-footer__main-link--nothover) {
  background-color: #ba2732;
}

.main-footer__main-link:hover:not(.main-footer__main-link--nothover)::after,
.main-footer__main-link:focus:not(.main-footer__main-link--nothover)::after {
  background-color: #9a212a;
}

.main-footer__main-link:active:not(.main-footer__main-link--nothover)::after {
  background-color: #8e1e26;
}

.main-footer__address,
.main-footer__tel {
  margin-left: 3px;

  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
  color: #fff;
}

.main-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 550px;
}

.main-footer__list1 {
  margin: 38px 0 0;
}

.main-footer__list2 {
  margin: 33px 0 0;
}

.main-footer__list1,
.main-footer__list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;

  list-style: none;
}

.main-footer__li1,
.main-footer__li2 {
  margin-left: 59px;
}

.main-footer__li1:first-child,
.main-footer__li2:first-child {
  margin-left: 0;
}

.main-footer__links1,
.main-footer__links2 {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}

.main-footer__links2 {
  color: #ffd180;
}

.main-footer__links1:hover,
.main-footer__links1:focus,
.main-footer__links2:hover,
.main-footer__links2:focus {
  text-decoration: underline;
}

.main-footer__links1:active,
.main-footer__links2:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 30px;
}

.main-footer__company {
  margin: 2px;

  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.main-footer__social-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
}

.main-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 230px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__social-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding-top: 10px;

  background-color: #212a3a;
  border-radius: 50%;
}

.main-footer__social-li:last-child .main-footer__social-link {
  margin-right: 0;
}

.main-footer__social-li:first-child .main-footer__social-link {
  padding-top: 12px;
}

.main-footer__social-link svg {
  margin: 0 auto;
  display: block;
}

.main-footer__social-link:hover,
.main-footer__social-link:focus,
.main-footer__social-link:active {
  background-color: #ee3643;
}

.main-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  padding-top: 2px;
}

.main-footer__info-text {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.main-footer__info-text:last-of-type {
  margin-right: 14px;
}

.main-footer__info a {
  text-decoration: none;
  color: #ffd180;
}

.main-footer__info a:hover,
.mmain-footer__info a:focus {
  text-decoration: underline;
}

.main-footer__info a:active {
  text-decoration: none;
  color: #e13643;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 620px;
  margin-left: -310px;

  background-color: #fff;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-close:hover svg,
.modal-close:focus svg {
  fill: #ca2c37;
}

.modal-close:active svg {
  fill: #ba2732;
}

.modla__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 80px 0;
}

.modal__label {
  width: 220px;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 18px;
}

.modal__label:last-of-type {
  width: 100%;
  margin-bottom: 37px;
}

.modal__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.main-btn--modal {
  display: block;
  width: 100%;

  border: none;
}

.modal__input,
.modal__msg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 7px;
  padding: 7px 15px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal__msg {
  min-height: 114px;
}

.modal__input::-webkit-input-placeholder,
.modal__msg::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  color: #a9a9a9;
}

.modal__input:-ms-input-placeholder,
.modal__msg:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  color: #a9a9a9;
}

.modal__input::-ms-input-placeholder,
.modal__msg::-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  color: #a9a9a9;
}

.modal__input::placeholder,
.modal__msg::placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  color: #a9a9a9;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  height: 100vh;
}

.modal--show {
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal__input--invalid {
  border-color: #ee3643;
}

.modal--error {
  -webkit-animation: modalError 0.6s;
          animation: modalError 0.6s;
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 940px;
  height: 445px;
  margin-left: -470px;

  background-color: #fff;
  -webkit-box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-map::after {
  position: absolute;
  top: 50%;
  z-index: -1;

  display: block;
  width: 100%;
  content: 'Map loading...';

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  
  -webkit-transform: translateY(-50%);
  
          transform: translateY(-50%);
}

.modal-close--map {
  z-index: 1;
}

.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs__list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 0 13px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: #000;
}

.breadcrumbs__link {
  text-decoration: inherit;
  color: inherit;
}

.breadcrumbs__link:hover:not([href]),
.breadcrumbs__link:focus:not([href]),
.breadcrumbs__link:active:not([href]) {
  opacity: 1;
}

.breadcrumbs__link:hover, 
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.breadcrumbs__li {
  position: relative;

  margin-left: 41px;
}

.breadcrumbs__li::after {
  position: absolute;
  top: 2px;
  left: -25px;

  display: block;
  width: 8px;
  height: 12px;

  background: url(../img/icons/icon-right-small.svg) no-repeat top left;

  content: '';
}

.breadcrumbs__list::after {
  position: absolute;
  top: 2px;
  left: -15px;

  display: block;
  width: 15px;
  height: 12px;

  background: url(../img/icons/icon-home.svg) no-repeat top left;
  
  content: '';
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;

  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

.catalog__head {
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 30px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Cuprum', 'Helvetica', sans-serif;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter {
  width: 220px;
}

.filter__heading-block {
  margin-bottom: 18px;
  padding: 10px 20px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter__heading {
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
  font-weight: 400;
}

.price-slider__headline {
  margin-bottom: 19px;

  font-size: 17px;
  line-height: 1em;
  font-weight: 700;
}

.price-slider {
  padding: 0;

  border: none;
}

.price-slider__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 39px 30px 0;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-slider__output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-slider__value {
  margin: 0;
  padding: 7px 0;
  width: 95px;

  font-size: 17px;
  text-align: center;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter__price {
  margin: 0 0 25px;
}

.form-list__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 31px 0 0;
  padding: 0;

  list-style: none;
}

.filter__manufacturers {
  margin: 0 0 20px;
}

.filter__power {
  margin: 0 0 78px;
}

.form-list {
  position: relative;

  padding: 22px 0 0;

  border: none;
  border-top: 1px solid #e5e5e5;
}

.form-list__headline {
  position: absolute;
  top: 19px;

  font-size: 17px;
  line-height: 1em;
  font-weight: 700;
}

.form-list__li {
  margin: 0 0 16px 35px;
}

.form-list__li:last-child {
  margin-bottom: 0;
}

.form-list__label {
  position: relative;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;
}

.form-list__label::after {
  position: absolute;
  top: -2px;
  left: -35px;

  display: block;
  width: 23px;
  height: 23px;
  content: '';

  background: no-repeat top left;
}

.form-list__input--manufacturers:not(:checked) + .form-list__label--manufacturers::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cpath fill="%23b5b5b5" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/%3E%3C/svg%3E');
  opacity: 0.8;
}

.form-list__input--manufacturers:checked + .form-list__label--manufacturers::after {
  width: 27px;

  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23"%3E%3Cpath fill="%23b5b5b5" d="M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z"/%3E%3Cpath fill="%23b5b5b5" d="M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z"/%3E%3C/svg%3E');
  opacity: 0.8;
}

.form-list__input--power:not(:checked) + .form-list__label--power::after {
  width: 25px;
  height: 25px;

  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"%3E%3Cpath fill="%23c5c5c5" d="M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z"/%3E%3C/svg%3E');
  opacity: 0.8;
}

.form-list__input--power:checked + .form-list__label--power::after {
  width: 25px;
  height: 25px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23c5c5c5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E");
  opacity: 0.8;
}

.form-list__input:focus + .form-list__label {
  outline: auto;
}

.form-list__input + .form-list__label:hover::after {
  opacity: 1;
}

.form-list__input:disabled + .form-list__label {
  opacity: 0.3;
}

.filter__submit {
  width: 140px;
  padding: 9px 5px;
  
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  cursor: pointer;
}

.filter__submit:hover,
.filter__submit:focus {
  border-color: #bdc6ca;
}

.filter__submit:active {
  opacity: 0.6;
}

.catalog__block-wrapper {
  width: 700px;
}

.catalog__sort {
  margin-bottom: 20px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 18px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort__headline,
.sort__method-link {
  margin: 0;
  margin-right: auto;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 45px 0 0;
  padding: 0;

  line-height: 17px;
  list-style: none;
}

.sort__li {
  margin-right: 65px;
}

.sort__li:last-child {
  margin-right: 0;
}

.sort__method-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort__method-link:not(.sort__method-link--active):hover,
.sort__method-link:not(.sort__method-link--active):focus {
  color: #000;

  border-bottom-style: solid;
}

.sort__method-link:not(.sort__method-link--active):active {
  color: #ee3643;

  border: none;
}

.sort__method-link--active {
  color: #ee3643;

  border: none;
}

.sort__button {
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.sort__button:first-child {
  margin-right: 16px;
}

.sort__button:not(.sort__button--active):hover svg,
.sort__button:not(.sort__button--active):focus svg {
  fill: #000;
}

.sort__button:not(.sort__button--active):active svg {
  fill: #ee3643;
}

.sort__button--active svg {
  fill: #ee3643;
}

.sort__buttons-wrapper {
  line-height: 18px;
}

.catalog__pages-wrapper,
.catalog__pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catalog__pages-list {
  margin: 0 10px 0 0;
  padding: 0;

  list-style: none;
}

.catalog__pages-li {
  margin-right: 10px;
}

.catalog__pages-li:last-child {
  margin-right: 0;
}

.catalog__pages-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 38px;
  padding: 9px 5px;
  
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;

  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  cursor: pointer;
}

.catalog__pages-link--current {
  color: #fff;

  background-color: #ee3643;
  border-color: #ee3643;

  cursor: default;
}

.catalog__pages-link--next-page {
  min-width: 140px;
}

.catalog__pages-link:not(.catalog__pages-link--current):hover,
.catalog__pages-link:not(.catalog__pages-link--current):focus {
  border-color: #bdc6ca;
}

.catalog__pages-link:not(.catalog__pages-link--current):active {
  border-color: #ee3643;
  outline: none;
}

.about {
  background-color: #f2f6f8;
}

.about__wrapper {
  padding-top: 65px;
  padding-bottom: 68px;
}

.about__headline {
  margin: 0 0 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about__descr {
  margin: 0;

  font-size: 13px;
  font-family: 'PT Sans', 'Helvetica', sans-serif;
}

.display-none {
  display: none;
}

/* ____________________nouislider styles__________________________ */
.noUi-target {
  height: 2px;

  background-color: #d7dcde;
  border: none;
}

.noUi-horizontal .noUi-handle {
  top: -9px;

  width: 20px;
  height: 20px;

  border-radius: 50%;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-handle::after {
  position: absolute;
  left: 7px;
  top: 7px;

  display: block;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;

  content: '';
}

.noUi-connect {
background-color: #00ca74;
}
